@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main > section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

::-webkit-scrollbar {
  width: 20px;
  background-color:  rgba(199, 125, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

:root{
  --color--purple-light: #A486D5;
  --color--purple-dark: #54318C;
  --color--yellow-light: #FFEB99;
  --color--yellow-dark: #FFCC00;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }

  nav{
    height: 70px;
    background-color: rgba(199, 125, 255, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  }

  .logo img{
    max-height: 60px;
    width: auto;
  }

  .logo a{
    text-decoration: none;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  nav ul{
    display: flex;
    list-style-type: none;
  }

  nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
  }

  nav ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: var(--color--yellow-dark);
    transition:all .5s;
  }

  nav ul li a:hover::after{
    width: 100%;
  }

  .landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: -moz-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
    background: -webkit-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
    background: linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#e0aaff",GradientType=1);
    background-attachment: fixed;

  }

  .hero-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    padding-bottom: 5%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
  .hero-img {
    max-width: 250px;
    height: auto;
    padding-top: 30%;
  }

  

  .landing-page h1{
    font-size: 4rem;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px;
  }

  .landing-page h2{
    font-size: 3.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin-left: 260px;
    text-shadow: 2px;
  }

  .landing-page p{
    font-size: 1rem;
    font-weight: 300;
    color: whitesmoke;
    text-shadow: 2px;
  }

  .landing-page span{
    color: var(--color--yellow-dark);
  }

  .reasons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: rgb(16,0,43);
    background: -moz-linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
    background: -webkit-linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
    background: linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#3c096c",GradientType=1);
    background-position: fixed;
  }

  .reasons h2{
    font-size: 2rem;
    padding-top: 80px;
    color: #d6dee1;
  }

 .cover-image img{ 
  height: 120px;
  width: auto;
  margin: 10px;
 }

 .cards-reasons{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
 }

 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 170px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: solid 2px rgba(255, 255, 255, 0.1);
 }

 .cards:hover{
  transform: translate3D(0,-1px,0) scale(1.03); 
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
 }

 .cards h3{
  color: whitesmoke;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.5);
  
 }

 .text {
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: 300;
  cursor:default;
 }

 .jobs{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  background: -webkit-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  background: linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#e0aaff",GradientType=1);
  background-attachment: fixed;
 }

 .window{
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  overflow: hidden;
  margin-top: 5%;
  height: 80%;
  width: 90%;
  border-radius: 10px;
 }

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  width: 100%;
  background-color: #F9F3ED;
  border-radius: 10px 10px 0px 0px;
}

.bar-left{
  display: flex;
  align-items: center;
  width: 15%;
  height: 70%;
}
.bar-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 15%;
  height: 70%;
}

.bar-right img{
  margin-left: 12px;
}

.bar-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 70%;
  background: #c57efc41;
  border-radius: 5px;
}

.bar-center img{
  height: 18px;
  width: 18px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.search p{
  font-size: 1rem;
  cursor: default;
}

.shield,
.reload{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btns{
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.action-btn{
  height: 18px;
  width: 18px;
  background-color: #FF001F;
  border-radius: 100%;
}

#btn2{
  background-color: #FF7A00;
}

#btn3{
  background-color: #05FF00;
}

.bar-nav-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.bar-nav-btns img{
  margin-top: 5px;
  justify-content: space-evenly;
  height: 18px;
  width: 18px;
}


.content-and-see-content {
  display: flex;
  width: 100%;
  height: 90%;
}

.content{
 width: 35%;
 background-color: #F0F0F0;
 margin: 40px;
 overflow: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
 direction: rtl;
 border-radius: 5px;
}

.see-content{
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
 scroll-behavior: smooth;
  width: 55%;
 background-color:#d6dee1;
 margin: 40px;
 margin-top: 55px;
 border-radius: 5px;
}

.new-content .link-content{
  display: none;
}

.content-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-card{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 85%;
  background-color: #d6dee1;
  border-radius: 5px;
  padding-left: 20px;
}
.content-card a{
  color: var(--color--purple-dark);
  text-decoration: none;
}
.content-card a:active{
  color: var(--color--purple-light);
}
.link-content{
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}
.link-content h2{
  padding-bottom: 20px;
}
.link-content .titles{
  font-weight: bold;
  padding-bottom: 10px;
}
.link-content .titles p{
  font-weight: 300;
}
.link-content .titles .odg-list{
  font-weight: 300;
  margin-left: 20px;
  padding-bottom: 10px;
}

.impressions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  background: -webkit-linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  background: linear-gradient(228deg,#10002b 17.43%, #3c096c 58.38%, #c77dff 98.55%,rgba(224, 170, 255, 0.72) 121%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#e0aaff",GradientType=1);
  background-attachment: fixed;
}

.swiper {
  width: 90%;
  height: 70%; 
}

.swiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.swiper-pagination-bullet-active {
  background-color: #c77dff !important;
}

.swiper-button-next{
  color: #c77dff !important;
}

.swiper-button-prev{
  color: #c77dff !important;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #05FF00;
  border-radius: 10px;
  height: 85%;
  width: 80%;
}

.details{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 40%;
  width: 100%;
  background: rgba(242,228,246,0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(242,228,246,0.225);
  border-radius: 25px 25px 10px 10px;
}

.pfp{
  height: 60%;
}

.description p{
  font-size: 0.8rem;
  padding: 15px;
}

.details .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 10px;
}

.details .name h3 {
  margin-right: 5px;
}

.footer .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col img{
  height: 70px;
  width: auto;
}
.footer-col p{
  color: #bbbbbb;
  font-weight: 300;
  font-size: 0.8rem;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--color--purple-light);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  header{
    width: 100%;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger #closeHam {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: rgba(199, 125, 255, 0.95);
    width: 100%;
    height: 35vh;
    padding-top: 60px;
    gap: 5vh;
  }
  .landing-page{
    display: flex;
    flex-direction: row;
  }
  .hero-card{
    background: none;
    border: none;
    box-shadow: none;
    
  }
  .landing-page h1{
    font-size: 1.3rem;
  }
  .landing-page h2{
    font-size: 1.2rem;
    margin-left: 0;
  }
  .landing-page p{
    font-size: 0.8rem;
  }

  .landing-page img{
    height: 300px;
    width: auto;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

  