@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y:auto;
}

.container {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 20px;
  background-color:  rgba(199, 125, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.landing-page {
  scroll-snap-align: start;
}

.reasons{
  scroll-snap-type: mandatory;
}


:root{
  --color--purple-light: #A486D5;
  --color--purple-dark: #54318C;
  --color--yellow-light: #FFEB99;
  --color--yellow-dark: #FFCC00;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }

  nav{
    height: 70px;
    background-color: rgba(199, 125, 255, 0.68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  }

  .logo img{
    max-height: 60px;
    width: auto;
  }

  .logo a{
    text-decoration: none;
  }

  nav ul{
    display: flex;
    list-style-type: none;
  }

  nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
  }

  nav ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: var(--color--yellow-dark);
    transition:all .5s;
  }

  nav ul li a:hover::after{
    width: 100%;
  }

  .landing-page{
    height: 100vh;
    width: 100vw;
    background: rgb(16,0,43);
    background: -moz-linear-gradient(186deg, rgba(16,0,43,1) 0%, rgba(60,9,108,1) 52%, rgba(199,125,255,1) 87%, rgba(224,170,255,0.7) 100%);
    background: -webkit-linear-gradient(186deg, rgba(16,0,43,1) 0%, rgba(60,9,108,1) 52%, rgba(199,125,255,1) 87%, rgba(224,170,255,0.7) 100%);
    background: linear-gradient(186deg, rgba(16,0,43,1) 0%, rgba(60,9,108,1) 52%, rgba(199,125,255,1) 87%, rgba(224,170,255,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#e0aaff",GradientType=1);
    background-attachment: fixed;
  }

  .hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70%;
    width: 80%;
    top: 20%;
    left: 10%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .hero-img {
    max-width: 250px;
    height: auto;
    padding-top: 30%;
  }

  .content-left{
    padding-right: 7%;
  }

  .content-right{
    width: 60%;
    margin-right: 5%;
    padding-left: 3%;
  }

  .landing-page h1{
    font-size: 4rem;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px;
  }

  .landing-page h2{
    font-size: 3.6rem;
    font-weight: 700;
    color: whitesmoke;
    padding-left: 260px;
    text-shadow: 2px;
  }

  .landing-page p{
    font-size: 1rem;
    font-weight: 300;
    color: whitesmoke;
    text-shadow: 2px;
  }

  .landing-page span{
    color: var(--color--yellow-dark);
  }

  .reasons{
    height: calc(100vh - 75px);
    width: 100vw;
    background: rgb(16,0,43);
background: -moz-linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
background: -webkit-linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
background: linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(42,5,81,1) 0%, rgba(60,9,108,1) 31%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b",endColorstr="#3c096c",GradientType=1);
    background-position: fixed;
  }

  .reasons span{
    color: var(--color--yellow-dark);
  }

  .reasons h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-top: 80px;
    color: #d6dee1;
    
  }

 .cover-image img{ 
  height: 120px;
  width: auto;
  margin: 10px;
 }

 .cards-reasons{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  background-color:  rgba(60,9,112,1);
  padding: 50px;
 }

 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 170px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: solid 2px rgba(255, 255, 255, 0.1);
 }

 .cards:hover{
  transform: translate3D(0,-1px,0) scale(1.03); 
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
 }

 .cards h3{
  color: whitesmoke;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.5);
  
 }

 .text {
  font-size: 1.1rem;
  padding-left: 20px;
  padding-right: 10px;
  cursor:default;
 }


  @media only screen and (min-width: 768px) and (max-width: 959px){
    
  }

  